@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kode+Mono:wght@400..700&family=Madimi+One&family=Micro+5&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(fundo-gif1.gif);
    background-size: cover;
    background-position: center;
}
.foto{
    text-align: center;
}
.foto img{
    margin: 4% 30px;
    border:4px solid rgb(68, 29, 14);
    border-radius: 30px;
}
section.inter-texto{
    margin: auto;
    display: block;
}

.texto-sis{
    border:4px solid rgb(177, 74, 14);
    border-radius: 30px;
}

.texto-sis h2{
    margin: 4% 40px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    text-align: justify;
}


h1.planeta{
    text-align: center;
    font-size: 60px;
    color: rgb(238, 0, 198);
    font-family: "Micro 5", sans-serif;
}

h3.texto{
    font-size: 18px;
    color: aliceblue;
    font-family: "Kode Mono", monospace;
}

span{
    color: rgb(145, 255, 0);
}


.descricoes{
    margin-top: 20px;
    border-radius: 5%;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricoes #sol{
    margin: 4% 40px;
    display: none;
    text-align: justify;
}

.descricoes img{
    margin: 4% 20px 30px;   
    margin: auto;
    display: block;
}
.descricoes #sol:target{
    display: block;
    
}

.descricoes #terra{
    margin: 4% 40px;
    display: none;
    text-align: justify;
    align-items: center;
}

.descricoes #terra:target{
    display: block;
}

.descricoes #marte{
    margin: 4% 40px;
    display: none;
    text-align: justify;

}

.descricoes #marte:target{
    display: block;
}


